variables:
  NPM_CONFIG_USERCONFIG: ""
  YARN_CACHE_FOLDER: $CI_PROJECT_DIR/.yarn/cache
  NODE_IMAGE_TAG: "20"

.yarn:
  image: ${CONTAINER_PATH}/node-pipeline:${NODE_IMAGE_TAG}

  cache:
    key:
      files:
      - yarn.lock
      prefix: ${CI_COMMIT_REF_SLUG}
    paths:
    - "**/node_modules"
    policy: pull

.yarn-build:
  extends: .yarn

  script:
  - yarn --version
  - yarn install --immutable ${YARNPKG_INSTALL_CLI_OPTS}
  - |
    if [[ "$(jq '.scripts | has("build")' "${CI_PROJECT_DIR}/package.json")" = "true" ]]; then
      yarn run build ${YARNPKG_CLI_OPTS}
    fi

  cache:
  - key: "${CI_COMMIT_REF_SLUG}"
    paths:
    - .yarn/cache
    policy: pull-push
    unprotect: true
  - key:
      files:
      - yarn.lock
      prefix: ${CI_COMMIT_REF_SLUG}
    paths: !reference [.yarn, cache, paths]
    policy: pull-push

.yarn-lint:
  extends: .yarn

  script:
  - yarn run lint ${YARNPKG_CLI_OPTS}

  rules:
  - if: $CI_MERGE_REQUEST_IID
  - if: $CI_OPEN_MERGE_REQUESTS
    when: never
  - if: $CI_COMMIT_BRANCH

  allow_failure: true

.yarn-test:
  extends: .yarn

  script:
  - yarn run coverage ${YARNPKG_CLI_OPTS}

  artifacts:
    name: $CI_JOB_NAME_SLUG
    paths:
    - "**/cobertura-coverage.xml"
    - "**/junit.xml"
    reports:
      coverage_report:
        coverage_format: cobertura
        path: "**/cobertura-coverage.xml"
      junit:
      - "**/junit.xml"

.yarn-publish:
  extends: .yarn
  dependencies: []

  script:
  - yarn npm publish ${YARNPKG_CLI_OPTS}

.yarn-classic-publish:
  extends: .yarn
  dependencies: []

  script:
  - yarn publish ${YARNPKG_CLI_OPTS}
