include:
- project: mia-platform/pipeline-templates
  file: Application.gitlab-ci.yml
  ref: HEAD
- template: Workflows/MergeRequest-Pipelines.gitlab-ci.yml

variables:
  GOLANG_IMAGE_TAG: "1.20"
  IMAGE_NAME: mia_template_image_name_placeholder

build:
  extends: .go-build
  stage: build

lint:
  extends: .go-lint
  stage: sast

test:
  extends: .go-test
  stage: test
