# This file includes compliance steps for the pipelines and can be set as a Compliance Framework pipelines file
include:
- local: SAST.gitlab-ci.yml
- local: jobs/sysdig.gitlab-ci.yml
- local: jobs/gitlab-cs.gitlab-ci.yml
  rules:
  - if: $SYSDIG_SECURE_TOKEN == ""
- local: GovernanceOverrides.gitlab-ci.yml
- project: $CI_PROJECT_PATH
  file: $CI_CONFIG_PATH
  ref: $CI_COMMIT_REF_NAME
  rules:
  - if: $GITLAB_FEATURES =~ /\bcompliance_pipeline_configuration\b/

stages:
- build
- sast
- test
- container-build
- compliance
- deploy
