include:
- local: SAST.gitlab-ci.yml
- local: Compliance.gitlab-ci.yml
- project: $CI_PROJECT_PATH
  file: $CI_CONFIG_PATH
  ref: $CI_COMMIT_REF_NAME
  rules:
  - if: $GITLAB_FEATURES =~ /\compliance_pipeline_configuration\b/

stages:
- build
- sast
- test
- container-build
- compliance
- deploy

.sast-analyzer:
  allow_failure: false

sast:
  stage: sast

syft-dependency_scanning:
  stage: sast

secret_detection:
  stage: sast

docker-build:
  stage: container-build

docker-push-tag:
  stage: deploy

docker-push-branch:
  stage: deploy
