name: Image Building

on:
  push:
    branches:
    - "main"
    - "feat/action"
    paths:
    - "containers/**"
    - ".github/workflows/**"

jobs:
  generate-matrix:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Calculate file differences
      id: diff
      uses: tj-actions/changed-files@v37
      with:
        files_yaml: |
          containers:
          - containers/**
          workflows:
          - ./.github/workflows/**
    - name: Generate Matrix
      id: matrix
      run: |
        output_matrix="[]"
        base_changed="false"
        for path in ${{steps.diff.outputs.workflows_all_changed_and_modified_files}}; do
          filename=$(basename "${path}")
          case ${filename%.*} in
            build-base)
              base_changed="true"
            ;;
            build-node|build-sysdig|build-go|build-docker)
              output_matrix=$(echo "${output_matrix}" | jq --arg path "${path}" -c '. += [$path] | unique')
            ;;
          esac
        done
        echo "jobs_matrix=${output_matrix}" >> $GITHUB_OUTPUT
        echo "base_changed=${base_changed}" >> $GITHUB_OUTPUT
    outputs:
      matrix: ${{ steps.matrix.outputs.jobs_matrix }}
      base_changed: ${{ steps.matrix.outputs.base_changed }}

  rebuild-images:
    needs: generate-matrix
    runs-on: ubuntu-latest
    steps:
    - name: print
      run: |
        echo ${{ needs.generate-matrix.outputs.matrix }}
        echo ${{ needs.generate-matrix.outputs.base_changed }}
