name: Build Node.js Image

on:
  workflow_call:
    secrets:
      BOT_DOCKER_USERNAME:
        required: true
      BOT_DOCKER_TOKEN:
        required: true
      BOT_USER:
        required: true
      BOT_GITHUB_TOKEN:
        required: true

jobs:
  build-node-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: "18"
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  build-node-20-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: "20"
      build_args: |
        NODE_VERSION=v20.4.0
        NODE_CHECKSUM=6b49a007f409fb7620350285cfc909fbc909604fd0ff5a87a1730365514b3712
        NODE_CHECKSUM_ARM=757f9c541f3e5da6e5ce06813d0ba206d4d013c008d7c59a7411512c1abfd0be
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
