name: Image Building

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1,15 * *"

jobs:
  rebuild-base:
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/base
      image_name: base-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-docker:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/docker
      image_name: docker-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-go:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.24"
          build_args: |
            GO_VERSION=1.24.9
            GO_CHECKSUM=5b7899591c2dd6e9da1809fde4a2fad842c45d3f6b9deb235ba82216e31e34a6
            GO_CHECKSUM_ARM=9aa1243d51d41e2f93e895c89c0a2daf7166768c4a4c3ac79db81029d295a540
            GOLANGCI_VERSION=1.64.8
            LINT_CHECKSUM=b6270687afb143d019f387c791cd2a6f1cb383be9b3124d241ca11bd3ce2e54e
            LINT_CHECKSUM_ARM=a6ab58ebcb1c48572622146cdaec2956f56871038a54ed1149f1386e287789a5
        - tag: "1.25"
          build_args: ""
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-kubernetes:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.31"
          build_args: |
            KUBECTL_VERSION=v1.31.13
            KUBECTL_CHECKSUM=ce427a4df97b044bf6beaf38be6b3aaafb1b5c782c406958b3c71ebb25a48fe3
            KUBECTL_CHECKSUM_ARM=cfe055bd02650cd5c2687599069630cf4a602f1c99be63986a25b775752620db
        - tag: "1.32"
          build_args: |
            KUBECTL_VERSION=v1.32.9
            KUBECTL_CHECKSUM=509ae171bac7ad3b98cc49f5594d6bc84900cf6860f155968d1059fde3be5286
            KUBECTL_CHECKSUM_ARM=d5f6b45ad81b7d199187a28589e65f83406e0610b036491a9abaa49bfd04a708
        - tag: "1.33"
          build_args: |
            KUBECTL_VERSION=v1.33.5
            KUBECTL_CHECKSUM=6a12d6c39e4a611a3687ee24d8c733961bb4bae1ae975f5204400c0a6930c6fc
            KUBECTL_CHECKSUM_ARM=6db7c5d846c3b3ddfd39f3137a93fe96af3938860eefdbf2429805ee1656e381
        - tag: "1.34"
          build_args: ""
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-node:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "20"
          build_args: |
            NODE_VERSION=v20.19.5
            NODE_CHECKSUM=315046739a513a70e03a4a55a8afda8cf979f30852e576075c340084e3f8ac0f
            NODE_CHECKSUM_ARM=d462267863ae8ee556039ebdf559055a8ec562c633889ef1403f3adb449ba1dd
        - tag: "22"
          build_args: |
            NODE_VERSION=v22.21.1
            NODE_CHECKSUM=680d3f30b24a7ff24b98db5e96f294c0070f8f9078df658da1bce1b9c9873c88
            NODE_CHECKSUM_ARM=e660365729b434af422bcd2e8e14228637ecf24a1de2cd7c916ad48f2a0521e1
        - tag: "24"
          build_args: ""
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-sysdig:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/sysdig
      image_name: sysdig-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit
