name: Image Building

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1,15 * *"

jobs:
  rebuild-base:
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/base
      image_name: base-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-docker:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/docker
      image_name: docker-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-go:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.23"
          # fix GOLANGCI version to 1x until 1.25 to avoid breaking changes in current pipelines
          build_args: |
            GO_VERSION=1.23.9
            GO_CHECKSUM=de03e45d7a076c06baaa9618d42b3b6a0561125b87f6041c6397680a71e5bb26
            GO_CHECKSUM_ARM=3dc4dd64bdb0275e3ec65a55ecfc2597009c7c46a1b256eefab2f2172a53a602
            GOLANGCI_VERSION=1.64.8
            LINT_CHECKSUM=b6270687afb143d019f387c791cd2a6f1cb383be9b3124d241ca11bd3ce2e54e
            LINT_CHECKSUM_ARM=a6ab58ebcb1c48572622146cdaec2956f56871038a54ed1149f1386e287789a5
        - tag: "1.24"
          build_args: |
            GOLANGCI_VERSION=1.64.8
            LINT_CHECKSUM=b6270687afb143d019f387c791cd2a6f1cb383be9b3124d241ca11bd3ce2e54e
            LINT_CHECKSUM_ARM=a6ab58ebcb1c48572622146cdaec2956f56871038a54ed1149f1386e287789a5
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-kubernetes:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.30"
          build_args:  |
            KUBECTL_VERSION=v1.30.13
            KUBECTL_CHECKSUM=b92bd89b27386b671841d5970b926b645c2ae44e5ca0663cff0f1c836a1530ee
            KUBECTL_CHECKSUM_ARM=afed1753b98ab30812203cb469e013082b25502c864f2889e8a0474aac497064
        - tag: "1.31"
          build_args: |
            KUBECTL_VERSION=v1.31.9
            KUBECTL_CHECKSUM=720d31a15368ad56993c127a7d4fa2688a8520029c2e6be86b1a877ad6f92624
            KUBECTL_CHECKSUM_ARM=1e6de599df408824f13602d73333c08c3528cfa5d6c8c98c633868a966882129
        - tag: "1.32"
          build_args: |
            KUBECTL_VERSION=v1.32.5
            KUBECTL_CHECKSUM=aaa7e6ff3bd28c262f2d95c8c967597e097b092e9b79bcb37de699e7488e3e7b
            KUBECTL_CHECKSUM_ARM=9edee84103e63c40a37cd15bd11e04e7835f65cb3ff5a50972058ffc343b4d96
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-node:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "18"
          build_args: |
            NODE_VERSION=v18.20.8
            NODE_CHECKSUM=5467ee62d6af1411d46b6a10e3fb5cacc92734dbcef465fea14e7b90993001c9
            NODE_CHECKSUM_ARM=224e569dbe7b0ea4628ce383d9d482494b57ee040566583f1c54072c86d1116b
        - tag: "20"
          build_args: |
            NODE_VERSION=v20.19.2
            NODE_CHECKSUM=cbe59620b21732313774df4428586f7222a84af29e556f848abf624ba41caf90
            NODE_CHECKSUM_ARM=0d0c4a1c3a5aa657b76873eaa962936c7dc7a45047bd3957322544967713dc72
        - tag: "22"
          build_args: ""
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-sysdig:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/sysdig
      image_name: sysdig-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit
