name: Build Golang Image

on:
  workflow_call:
    secrets:
      BOT_DOCKER_USERNAME:
        required: true
      BOT_DOCKER_TOKEN:
        required: true
      BOT_USER:
        required: true
      BOT_GITHUB_TOKEN:
        required: true

jobs:

  build-go-1-21-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: "1.21"
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  build-go-1-20-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: "1.20"
      build_args: |
        GO_VERSION=1.20.13
        GO_CHECKSUM=9a9d3dcae2b6a638b1f2e9bd4db08ffb39c10e55d9696914002742d90f0047b5
        GO_CHECKSUM_ARM=a2d811cef3c4fc77c01195622e637af0c2cf8b3814a95a0920cf2f83b6061d38
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
