name: Build Docker Image

on:
  workflow_call:
    inputs:
      image_path:
        type: string
        required: true
      image_name:
        type: string
        required: true
      image_tag:
        type: string
        required: true
      build_args:
        type: string
        required: false
        default: ""

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Login to Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        username: ${{ secrets.BOT_DOCKER_USERNAME }}
        password: ${{ secrets.BOT_DOCKER_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ secrets.BOT_USER }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      with:
        platforms: amd64,arm64
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      with:
        platforms: linux/amd64,linux/arm64
    - name: Build and push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: ${{ inputs.image_path }}
        file: ${{ inputs.image_path }}/Dockerfile
        tags: |
          miaplatform/${{ inputs.image_name }}:${{ inputs.image_tag }}
          ghcr.io/mia-platform/${{ inputs.image_name }}:${{ inputs.image_tag }}
        platforms: ${{ steps.buildx.outputs.platforms }}
        build-args: |
          ${{ inputs.build_args }}
        provenance: false
        push: true
