name: Image Building

on:
  push:
    branches:
    - "main"
    - "feat/action"
    paths:
    - "containers/**"
    - ".github/workflows/**"

jobs:
  generate-matrix:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Calculate file differences
      id: diff
      uses: tj-actions/changed-files@v37
      with:
        files_yaml: |
          containers:
          - containers/**
          workflows:
          - ./.github/workflows/**
    - name: Generate Matrix
      id: matrix
      run: |
        base_changed=false
        docker_changed=false
        go_changed=false
        node_changed=false
        sysdig_changed=false
        for path in ${{steps.diff.outputs.workflows_all_changed_and_modified_files}}; do
          filename=$(basename "${path}")
          case ${filename%.*} in
            build-base)
              base_changed=true
            ;;
            build-docker)
              docker_changed=true
            ;;
            build-go)
              go_changed=true
            ;;
            build-node)
              node_changed=true
            ;;
            build-sysdig)
              sysdig_changed=true
            ;;
          esac
        done
        for path in ${{steps.diff.outputs.containers_all_changed_and_modified_files}}; do
          foldername=$(echo $path | cut -d / -f 2)
          case ${foldername%.*} in
            base)
              base_changed=true
            ;;
            docker)
              docker_changed=true
            ;;
            go)
              go_changed=true
            ;;
            node)
              node_changed=true
            ;;
            sysdig)
              sysdig_changed=true
            ;;
          esac
        done
        echo "base_changed=${base_changed}" >> $GITHUB_OUTPUT
        echo "docker_changed=${docker_changed}" >> $GITHUB_OUTPUT
        echo "go_changed=${go_changed}" >> $GITHUB_OUTPUT
        echo "node_changed=${node_changed}" >> $GITHUB_OUTPUT
        echo "sysdig_changed=${sysdig_changed}" >> $GITHUB_OUTPUT
    outputs:
      base_changed: ${{ steps.matrix.outputs.base_changed }}
      docker_changed: ${{ steps.matrix.outputs.docker_changed }}
      go_changed: ${{ steps.matrix.outputs.go_changed }}
      node_changed: ${{ steps.matrix.outputs.node_changed }}
      sysdig_changed: ${{ steps.matrix.outputs.sysdig_changed }}

  rebuild-base:
    needs: generate-matrix
    if: needs.generate-matrix.outputs.base_changed == 'true'
    uses: ./.github/workflows/build-base.yml

  rebuild-docker:
    needs: generate-matrix
    if: needs.generate-matrix.outputs.base_changed == 'false' && needs.generate-matrix.outputs.docker_changed == 'true'
    uses: ./.github/workflows/build-docker.yml

  rebuild-go:
    needs: generate-matrix
    if: needs.generate-matrix.outputs.base_changed == 'false' && needs.generate-matrix.outputs.go_changed == 'true'
    uses: ./.github/workflows/build-go.yml

  rebuild-node:
    needs: generate-matrix
    if: needs.generate-matrix.outputs.base_changed == 'false' && needs.generate-matrix.outputs.node_changed == 'true'
    uses: ./.github/workflows/build-node.yml

  rebuild-sysdig:
    needs: generate-matrix
    if: needs.generate-matrix.outputs.base_changed == 'false' && needs.generate-matrix.outputs.sysdig_changed == 'true'
    uses: ./.github/workflows/build-sysdig.yml
