name: Build Node.js Image

on:
  workflow_call:
    secrets:
      BOT_DOCKER_USERNAME:
        required: true
      BOT_DOCKER_TOKEN:
        required: true
      BOT_USER:
        required: true
      BOT_GITHUB_TOKEN:
        required: true

jobs:
  build-node-18-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: "18"
      build_args: |
        NODE_VERSION=v18.18.2
        NODE_CHECKSUM=75aba25ae76999309fc6c598efe56ce53fbfc221381a44a840864276264ab8ac
        NODE_CHECKSUM_ARM=2e630e18548627f61eaf573233da7949dc0a1df5eef3f486fa9820c5f6c121aa
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  build-node-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: "20"
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
