name: Build Kubernetes Image

on:
  workflow_call:
    secrets:
      BOT_DOCKER_USERNAME:
        required: true
      BOT_DOCKER_TOKEN:
        required: true
      BOT_USER:
        required: true
      BOT_GITHUB_TOKEN:
        required: true

jobs:
  build-kubernetes-1-26-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: "1.26"
      build_args: |
        KUBECTL_VERSION=v1.26.13
        KUBECTL_CHECKSUM=e4bad4273431f9f5f05f27f5c2054cbbad6d9ee00b85e0810cb4ef0489b02571
        KUBECTL_CHECKSUM_ARM=4abebc34c114111b81bbf5222f0810e6899937d04bc453d9ccd77046643bbcda
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  build-kubernetes-1-27-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: "1.27"
      build_args: |
        KUBECTL_VERSION=v1.27.10
        KUBECTL_CHECKSUM=bfb219643c28d9842fceae51590776f06987835d93fc3cb9b0149c9111c741ac
        KUBECTL_CHECKSUM_ARM=2e1996379d5a8b132e0606fcd3df3c8689e11882630b75cca3b7135126847871
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  build-kubernetes-1-28-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: "1.28"
      build_args: |
        KUBECTL_VERSION=v1.28.6
        KUBECTL_CHECKSUM=c8351fe0611119fd36634dd3f53eb94ec1a2d43ef9e78b92b4846df5cc7aa7e3
        KUBECTL_CHECKSUM_ARM=0de705659a80c3fef01df43cc0926610fe31482f728b0f992818abd9bdcd2cb9
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  build-kubernetes-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: "1.29"
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
