name: Image Building

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1,15 * *"

jobs:
  rebuild-base:
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/base
      image_name: base-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-docker:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/docker
      image_name: docker-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-go:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.24"
          build_args: |
            GO_VERSION=1.24.11
            GO_CHECKSUM=bceca00afaac856bc48b4cc33db7cd9eb383c81811379faed3bdbc80edb0af65
            GO_CHECKSUM_ARM=beaf0f51cbe0bd71b8289b2b6fa96c0b11cd86aa58672691ef2f1de88eb621de
            GOLANGCI_VERSION=1.64.8
            LINT_CHECKSUM=b6270687afb143d019f387c791cd2a6f1cb383be9b3124d241ca11bd3ce2e54e
            LINT_CHECKSUM_ARM=a6ab58ebcb1c48572622146cdaec2956f56871038a54ed1149f1386e287789a5
        - tag: "1.25"
          build_args: ""
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-kubernetes:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.31"
          build_args: |
            KUBECTL_VERSION=v1.31.14
            KUBECTL_CHECKSUM=8791ec7c8966b61420d55103a5fb948de9f0ca3d7306d789734975ad9704bdb0
            KUBECTL_CHECKSUM_ARM=3abb0c2d7121e1833831f56fd857a93de386e76d14b64baf86220d0afe495209
        - tag: "1.32"
          build_args: |
            KUBECTL_VERSION=v1.32.10
            KUBECTL_CHECKSUM=6e14ef4e509e9f3d1dfc2815643f832f853d2d9f6622d4a0f83f77c7e4014b57
            KUBECTL_CHECKSUM_ARM=1f4229526e16bf9f5b854fbf3bdb9c7040404a29c1d1e4193258b8a73de06e92
        - tag: "1.33"
          build_args: |
            KUBECTL_VERSION=v1.33.7
            KUBECTL_CHECKSUM=471d94e208a89be62eb776700fc8206cbef11116a8de2dc06fc0086b0015375b
            KUBECTL_CHECKSUM_ARM=fa7ee98fdb6fba92ae05b5e0cde0abd5972b2d9a4a084f7052a1fd0dce6bc1de
        - tag: "1.34"
          build_args: ""
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-node:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "20"
          build_args: |
            NODE_VERSION=v20.19.6
            NODE_CHECKSUM=c514127107ebf6e3885f793b06674574d71fe22e3df91a78c52c5a6f84b3b5b0
            NODE_CHECKSUM_ARM=e24741779ae4c2f3c79b362fa5c0c8bbcdca1a6240eb5906c58dc762dcb62e0e
        - tag: "22"
          build_args: |
            NODE_VERSION=v22.21.1
            NODE_CHECKSUM=680d3f30b24a7ff24b98db5e96f294c0070f8f9078df658da1bce1b9c9873c88
            NODE_CHECKSUM_ARM=e660365729b434af422bcd2e8e14228637ecf24a1de2cd7c916ad48f2a0521e1
        - tag: "24"
          build_args: ""
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-sysdig:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/sysdig
      image_name: sysdig-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit
