name: Image Building

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1,15 * *"

jobs:
  rebuild-base:
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/base
      image_name: base-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-docker:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/docker
      image_name: docker-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-go:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.22"
          build_args: |
            GO_VERSION=1.22.10
            GO_CHECKSUM=736ce492a19d756a92719a6121226087ccd91b652ed5caec40ad6dbfb2252092
            GO_CHECKSUM_ARM=5213c5e32fde3bd7da65516467b7ffbfe40d2bb5a5f58105e387eef450583eec
        - tag: "1.23"
          build_args: ""
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-kubernetes:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.29"
          build_args: |
            KUBECTL_VERSION=v1.29.13
            KUBECTL_CHECKSUM=9f4cba9b3e12a3fd7fa99dee651d7293281333469852a8e755a1210d5b128b8d
            KUBECTL_CHECKSUM_ARM=92a08a9e74efd81be46c9138fce597ab8827e18479fe5cc9c4065659d6464cf1
        - tag: "1.30"
          build_args:  |
            KUBECTL_VERSION=v1.30.9
            KUBECTL_CHECKSUM=d77041f285d9237c4aa451370c3ec6e5c042007dbb55c894f0a179b1d149bf32
            KUBECTL_CHECKSUM_ARM=bab82f333f6347507a4c725bc726fefd3d862eb64a36a4fb8b99bfe9e10813d0
        - tag: "1.31"
          build_args: |
            KUBECTL_VERSION=v1.31.5
            KUBECTL_CHECKSUM=fbecbfd375b3686002c2e81d51c390172f5ffba3d6b47920d55342cb03f557af
            KUBECTL_CHECKSUM_ARM=697c8b4239f9e53cba46296e114bcc02c726b5c7a45e1c464804aad56e5c7a86
        - tag: "1.32"
          build_args: ""
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-node:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "18"
          build_args: |
            NODE_VERSION=v18.20.5
            NODE_CHECKSUM=e4a3a21e5ac7e074ed50d2533dd0087d8460647ab567464867141a2b643f3fb3
            NODE_CHECKSUM_ARM=a77db6ab34267f3bc80e02ed68abf51b7065eb5c82fcd69adc4b40e390d9b116
        - tag: "20"
          build_args: |
            NODE_VERSION=v20.18.1
            NODE_CHECKSUM=c6fa75c841cbffac851678a472f2a5bd612fff8308ef39236190e1f8dbb0e567
            NODE_CHECKSUM_ARM=44d1ffc5905c005ace4515ca6f8c090c4c7cfce3a9a67df0dba35c727590b8f6
        - tag: "22"
          build_args: ""
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit

  rebuild-sysdig:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/sysdig
      image_name: sysdig-pipeline
      image_tag: ${{ matrix.params.tag }}
      build_args: ${{ matrix.params.build_args }}
    secrets: inherit
