name: Image Building

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1,15 * *"

jobs:
  rebuild-base:
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/base
      image_name: base-pipeline
      image_tag: ${{ matrix.tag }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit

  rebuild-docker:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/docker
      image_name: docker-pipeline
      image_tag: ${{ matrix.tag }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit

  rebuild-go:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.20"
          build_args: |
            GO_VERSION=1.20.13
            GO_CHECKSUM=9a9d3dcae2b6a638b1f2e9bd4db08ffb39c10e55d9696914002742d90f0047b5
            GO_CHECKSUM_ARM=a2d811cef3c4fc77c01195622e637af0c2cf8b3814a95a0920cf2f83b6061d38
        - tag: "1.21"
          build_args: ""
    with:
      image_path: containers/go
      image_name: golang-pipeline
      image_tag: ${{ matrix.tag }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit

  rebuild-kubernetes:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1.26"
          build_args: |
            KUBECTL_VERSION=v1.26.13
            KUBECTL_CHECKSUM=e4bad4273431f9f5f05f27f5c2054cbbad6d9ee00b85e0810cb4ef0489b02571
            KUBECTL_CHECKSUM_ARM=4abebc34c114111b81bbf5222f0810e6899937d04bc453d9ccd77046643bbcda
        - tag: "1.27"
          build_args: |
            KUBECTL_VERSION=v1.27.10
            KUBECTL_CHECKSUM=bfb219643c28d9842fceae51590776f06987835d93fc3cb9b0149c9111c741ac
            KUBECTL_CHECKSUM_ARM=2e1996379d5a8b132e0606fcd3df3c8689e11882630b75cca3b7135126847871
        - tag: "1.28"
          build_args: |
            KUBECTL_VERSION=v1.28.6
            KUBECTL_CHECKSUM=c8351fe0611119fd36634dd3f53eb94ec1a2d43ef9e78b92b4846df5cc7aa7e3
            KUBECTL_CHECKSUM_ARM=0de705659a80c3fef01df43cc0926610fe31482f728b0f992818abd9bdcd2cb9
        - tag: "1.29"
          build_args: ""
    with:
      image_path: containers/kubernetes
      image_name: kubernetes-pipeline
      image_tag: ${{ matrix.tag }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit

  rebuild-node:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "18"
          build_args: |
            NODE_VERSION=v18.18.2
            NODE_CHECKSUM=75aba25ae76999309fc6c598efe56ce53fbfc221381a44a840864276264ab8ac
            NODE_CHECKSUM_ARM=2e630e18548627f61eaf573233da7949dc0a1df5eef3f486fa9820c5f6c121aa
        - tag: "20"
          build_args: ""
    with:
      image_path: containers/node
      image_name: node-pipeline
      image_tag: ${{ matrix.tag }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit

  rebuild-sysdig:
    needs: rebuild-base
    uses: ./.github/workflows/build-image.yml
    strategy:
      matrix:
        params:
        - tag: "1"
          build_args: ""
    with:
      image_path: containers/sysdig
      image_name: sysdig-pipeline
      image_tag: ${{ matrix.tag }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit
