name: Build Docker Image

on:
  workflow_call:
    inputs:
      image_path:
        type: string
        required: true
      image_name:
        type: string
        required: true
      image_tag:
        type: string
        required: true
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_TOKEN:
        required: true
      GH_USERNAME:
        required: true
      GH_TOKEN:
        required: true

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up QEMU
      if: docker-qemu
      uses: docker/setup-qemu-action@v2
      with:
        platforms: amd64,arm64
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        platforms: ${{ steps.docker-qemu.outputs.platforms }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: ${{ input.image_path }}
        file: ${{ input.image_path }}/Dockerfile
        tags: |
          miaplatform/${{ input.image_name }}:${{ input.image_tag }}
          ghr.io/mia-platform/${{ input.image_name }}:${{ input.image_tag }}
        platforms: ${{ steps.docker-qemu.outputs.platforms }}
        provenance: false
        push: false
