name: Build Docker Image

on:
  workflow_call:
    inputs:
      image_path:
        type: string
        required: true
      image_name:
        type: string
        required: true
      image_tag:
        type: string
        required: true
      build_args:
        type: string
        required: false
        default: ""

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Login to Docker Hub
      uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
      with:
        username: ${{ secrets.BOT_DOCKER_USERNAME }}
        password: ${{ secrets.BOT_DOCKER_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
      with:
        registry: ghcr.io
        username: ${{ secrets.BOT_USER }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: amd64,arm64
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      with:
        platforms: linux/amd64,linux/arm64
    - name: Build and push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: ${{ inputs.image_path }}
        file: ${{ inputs.image_path }}/Dockerfile
        tags: |
          miaplatform/${{ inputs.image_name }}:${{ inputs.image_tag }}
          ghcr.io/mia-platform/${{ inputs.image_name }}:${{ inputs.image_tag }}
        platforms: ${{ steps.buildx.outputs.platforms }}
        build-args: |
          ${{ inputs.build_args }}
        provenance: false
        push: true
