name: Image Building

on:
  push:
    branches:
    - "main"
    - "feat/action"
    paths:
    - "containers/**"
    - ".github/workflows/**"

jobs:
  generate-matrix:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Calculate file differences
      id: diff
      uses: tj-actions/changed-files@v37
      with:
        files_yaml: |
          containers:
          - containers/**
          workflows:
          - ./.github/workflows/**
    - name: Generate Container Matrix
      if: steps.diff.outputs.containers_any_changed == 'true'
      id: matrix
      run: |
        echo "Changed files:"
        for $path in ${{steps.diff.outputs.containers_any_changed}}; do
          echo $path
        done

    - name: Generate Workflow Matrix
      if: steps.diff.outputs.workflows_any_changed == 'true'
      id: matrix_workflows
      run: |
        echo "Changed files:"
        for $path in ${{steps.diff.outputs.workflows_any_changed}}; do
          echo $path
        done
