name: Build Base Image

on:
  push:
    branches:
    - "feat/action"
    paths:
    - "containers/base/**"
  schedule:
  - cron: "0 0 1,15 * *"

jobs:
  build-base-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_path: containers/base
      image_name: base-pipeline
      image_tag: "1"
    secrets:
      DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      GH_USERNAME: ${{ secrets.BOT_USER }}
      GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  rebuild-node:
    uses: ./.github/workflows/build-node.yml
    needs: build-base-image
    secrets:
      BOT_DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
      BOT_DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
      BOT_USER: ${{ secrets.BOT_USER }}
      BOT_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  # rebuild-docker:
  #   uses: ./.github/workflows/build-docker.yml
  #   needs: build-base-image
  #   secrets:
  #     BOT_DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
  #     BOT_DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
  #     BOT_USER: ${{ secrets.BOT_USER }}
  #     BOT_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  # rebuild-go:
  #   uses: ./.github/workflows/build-go.yml
  #   needs: build-base-image
  #   secrets:
  #     BOT_DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
  #     BOT_DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
  #     BOT_USER: ${{ secrets.BOT_USER }}
  #     BOT_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  # rebuild-sysdig:
  #   uses: ./.github/workflows/build-sysdig.yml
  #   needs: build-base-image
  #   secrets:
  #     BOT_DOCKER_USERNAME: ${{ secrets.BOT_DOCKER_USERNAME }}
  #     BOT_DOCKER_TOKEN: ${{ secrets.BOT_DOCKER_TOKEN }}
  #     BOT_USER: ${{ secrets.BOT_USER }}
  #     BOT_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

  list-changed-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: List Changed Files
        uses: tj-actions/changed-files@v2
        id: changed_files

      - name: Print Changed Files
        run: |
          echo "Changed files:"
          echo "${{ steps.changed_files.outputs.files }}"
