name: Build Docker Image

on:
  workflow_call:
    inputs:
      image_path:
        type: string
        required: true
      image_name:
        type: string
        required: true
      image_tag:
        type: string
        required: true
      build_args:
        type: string
        required: false
        default: ""
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_TOKEN:
        required: true
      GH_USERNAME:
        required: true
      GH_TOKEN:
        required: true

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Login to Docker Hub
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
      with:
        registry: ghcr.io
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3.0.0
      with:
        platforms: amd64,arm64
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0
      with:
        platforms: linux/amd64,linux/arm64
    - name: Build and push
      uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56 # v5.1.0
      with:
        context: ${{ inputs.image_path }}
        file: ${{ inputs.image_path }}/Dockerfile
        tags: |
          miaplatform/${{ inputs.image_name }}:${{ inputs.image_tag }}
          ghcr.io/mia-platform/${{ inputs.image_name }}:${{ inputs.image_tag }}
        platforms: ${{ steps.buildx.outputs.platforms }}
        build-args: |
          ${{ inputs.build_args }}
        provenance: false
        push: true
